.logos{
    display: flex;
    gap: 2PX;
}

.logo1 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.logo1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo2 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.logo2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.openModal {
    margin-top: 20px;
}

.modalMain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalMain.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 640px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}
.modalMain .modal .closeModal img {
    width: 20px;
    height: 20px;
    display: block;
}

.modalMain.open .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.progress-bar{
    position: relative;
    height: 20px;
    width: 300px;
    background-color: #c1c1c1;
    margin: 40px auto;
}

.fill{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: red;
    z-index: 1;
}

.text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    pointer-events: none;
    z-index: 2;
}

.text-white{
    color: white;
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
}

.text-black{
    color: black;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.japan-flag {
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.japan-flag::before {
    content: '';
    width: 120px;
    height: 120px;
    background-color: #BC002D;
    border-radius: 50%;
}

.windows-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    width: 100px;
    height: 100px;
    padding: 4px;
}
.windows-logo .span1 {
    background-color: red;
}
.windows-logo .span2 {
    background-color: green;
}
.windows-logo .span3 {
    background-color: blue;
}
.windows-logo .span4 {
    background-color: yellow;
}